.Sanja{ 
    color:blue;
    background-color: rgb(74, 158, 71);
}

.Carine{
    color:coral;
}
.Nacera{
    color:aquamarine;  
    text-align: center;
    }

    #i{
        height:200px;
        width:100px;
        margin-left:auto;
        margin-right:auto;
    }

